<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="doic-mapper">

    <resultMap id="DoicMap" type="ru.mephi.iw.models.DateOfIndexesChanges">
        <id column="doic_pk" property="id"/>
        <id column="doic_indx_fk" property="indexId"/>
        <id column="doic_date_chng" property="dteOfChange"/>
    </resultMap>

    <select id="selectDoic" resultMap="DoicMap">
        select doic_pk, doic_indx_fk, doic_date_chng from investor_workspace.t_date_of_indexes_changes where doic_pk = #{id}
    </select>

    <select id="selectDoicIMOEXLast" resultMap="DoicMap">
        select doic_pk, doic_indx_fk, doic_date_chng from investor_workspace.t_date_of_indexes_changes
        where doic_indx_fk = 1
        order by doic_date_chng desc
        limit 1
    </select>

    <select id="selectAllDoic" resultMap="DoicMap">
        select doic_pk, doic_indx_fk, doic_date_chng from investor_workspace.t_date_of_indexes_changes
    </select>


    <insert id="insertDoic" keyColumn="doic_pk" keyProperty="Doic.id" useGeneratedKeys="true"  >
        insert into investor_workspace.t_date_of_indexes_changes (doic_indx_fk, doic_date_chng)
        values (#{doic.indexId}, #{doic.dateOfChange});
        commit;
    </insert>

    <delete id="deleteDoic">
        delete from investor_workspace.t_date_of_indexes_changes where doic_pk = #{id};
        commit;
    </delete>

    <update id="updateDoic">
        update investor_workspace.t_date_of_indexes_changes set doic_indx_fk = #{doic.indexId},
                                                                doic_date_chng = #{doic.dateOfChange} where doic_pk = #{id};
        commit;
    </update>

</mapper>