<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="soc-mapper">

    <resultMap id="SocMap" type="ru.mephi.iw.models.SectorsOfCompanies">
        <id column="soc_pk" property="id"/>
        <id column="soc_cmpn_fk" property="companyId"/>
        <id column="soc_sctr_fk" property="sectorId"/>
    </resultMap>

    <select id="selectSoc" resultMap="SocMap">
        select soc_pk, soc_cmpn_fk, soc_sctr_fk from investor_workspace.t_sectors_of_companies where soc_pk = #{id}
    </select>

    <select id="selectAllSoc" resultMap="SocMap">
        select soc_pk, soc_cmpn_fk, soc_sctr_fk from investor_workspace.t_sectors_of_companies
    </select>


    <insert id="insertSoc" keyColumn="soc_pk" keyProperty="soc.id" useGeneratedKeys="true"  >
        insert into investor_workspace.t_sectors_of_companies (soc_cmpn_fk, soc_sctr_fk)
        values (#{soc.companyId}, #{soc.sectorId});
        commit;
    </insert>

    <delete id="deleteSoc">
        delete from investor_workspace.t_sectors_of_companies where soc_pk = #{id};
        commit;
    </delete>

    <update id="updateSoc">
        update investor_workspace.t_sectors_of_companies set soc_cmpn_fk = #{soc.companyId},
                                                             soc_sctr_fk = #{soc.sectorId} where soc_pk = #{id};
        commit;
    </update>

</mapper>