<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sp-mapper">

    <resultMap id="SpMap" type="ru.mephi.iw.models.StocksPrices">
        <id column="sp_pk" property="id"/>
        <result column="sp_stck_fk" property="stockId"/>
        <result column="sp_cur_fk" property="currentId"/>
        <result column="sp_time_set" property="settingTime"/>
        <result column="sp_price" property="price"/>
    </resultMap>

    <select id="selectSp" resultMap="SpMap">
        select sp_pk, sp_stck_fk, sp_cur_fk, sp_time_set, sp_price from investor_workspace.t_stocks_prices where sp_pk = #{id}
    </select>

    <select id="selectAllSp" resultMap="SpMap">
        select sp_pk, sp_stck_fk, sp_cur_fk, sp_time_set, sp_price from investor_workspace.t_stocks_prices
    </select>


    <insert id="insertSp" keyColumn="sp_pk" keyProperty="sp.id" useGeneratedKeys="true"  >
        insert into investor_workspace.t_stocks_prices (sp_stck_fk, sp_cur_fk, sp_time_set, sp_price)
        values (#{sp.stockId}, #{sp.currencyId}, #{sp.settingTime}, #{sp.price});
        commit;
    </insert>

    <delete id="deleteSp">
        delete from investor_workspace.t_stocks_prices where sp_pk = #{id};
        commit;
    </delete>

    <update id="updateSp">
        update investor_workspace.t_stocks_prices set sp_stck_fk = #{sp.stockId},
                                                      sp_cur_fk = #{sp.currencyId},
                                                      sp_time_set = #{sp.settingTime},
                                                      sp_price = #{sp.price} where sp_pk = #{id};
        commit;
    </update>

</mapper>