<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stock-mapper">

    <resultMap id="StockMap" type="ru.mephi.iw.models.Stock">
        <id column="stck_pk" property="id"/>
        <result column="stck_cmpn_fk" property="companyId"/>
        <result column="stck_name" property="name"/>
        <result column="stck_ticker" property="ticker"/>
    </resultMap>

    <select id="selectStock" resultMap="StockMap">
        select stck_pk, stck_cmpn_fk, stck_name, stck_ticker from investor_workspace.t_stocks where stck_pk = #{id}
    </select>

    <select id="selectAllStocksIMOEX" resultMap="StockMap">
        select stck_pk, stck_cmpn_fk, stck_name, stck_ticker from investor_workspace.t_stocks where stck_pk = any (#{ids})
    </select>

    <select id="selectAllStocks" resultMap="StockMap">
        select stck_pk, stck_cmpn_fk, stck_name, stck_ticker from investor_workspace.t_stocks
    </select>

    <insert id="insertStock" keyColumn="cmpn_pk" keyProperty="stock.id" useGeneratedKeys="true"  >
        insert into investor_workspace.t_stocks (stck_cmpn_fk, stck_name, stck_ticker)
        values (#{stock.companyId}, #{stock.name}, #{stock.ticker});
        commit;
    </insert>

    <delete id="deleteStock">
        delete from investor_workspace.t_stocks where stck_pk = #{id};
        commit;
    </delete>

    <update id="updateStock">
        update investor_workspace.t_stocks set stck_cmpn_fk = #{stock.companyId},
                                               stck_name = #{stock.name},
                                               stck_ticker = #{stock.ticker} where stck_pk = #{id};
        commit;
    </update>

</mapper>