<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.mephi.iw.dao.mappers.briefcases.collections.BIFUMapper">

    <resultMap id="BIFUMap" type="ru.mephi.iw.models.briefcases.collections.BriefcaseInfoForUser">

        <id column="brf_pk" property="id"/>

        <association property="briefcase" resultMap="ru.mephi.iw.dao.mappers.briefcases.BriefcasesMapper.BriefcasesMap"
                     javaType="ru.mephi.iw.models.briefcases.Briefcases"/>

        <association property="briefcaseState" resultMap="ru.mephi.iw.dao.mappers.briefcases.BSMapper.BSMap"
                     javaType="ru.mephi.iw.models.briefcases.BriefcaseStates"/>

        <collection property="accountAndCurrencies" javaType="java.util.HashSet"
                    ofType="ru.mephi.iw.models.briefcases.associations.AccountAndCurrency"
                    resultMap="ru.mephi.iw.dao.mappers.briefcases.associations.AACMapper.AACMap"/>

        <collection property="stockAndPriceAndSIBs" javaType="java.util.HashSet"
                    ofType="ru.mephi.iw.models.briefcases.associations.StockAndPriceAndSIB"
                    resultMap="ru.mephi.iw.dao.mappers.briefcases.associations.SPSMapper.SPSMap"/>

    </resultMap>

    <select id="selectLastBIFU" resultMap="BIFUMap">
        select brf_pk, brf_usr_fk, brf_name, brf_desc, bs_pk, bs_brf_fk, bs_fl_fk, bs_date, acc_pk, acc_bs_fk
             , acc_cur_fk, acc_am, cr.cur_pk as a_cur_pk, cr.cur_name as a_cur_name, cr.cur_course as a_cur_course, sib_pk, sib_bs_fk
             , sib_stck_fk, sib_stck_num, sib_type, stck_pk, stck_cmpn_fk, stck_name, stck_ticker, sp_pk, sp_stck_fk, sp_cur_fk
             , sp_time_set, sp_price, cur.cur_pk as cur_pk, cur.cur_name, cur.cur_course as cur_course
        from (
        select * from investor_workspace.t_briefcases b
        left join investor_workspace.t_briefcases_states bs on (bs.bs_brf_fk = b.brf_pk)
        where b.brf_pk = #{briefcaseId}
        order by bs.bs_date desc
        limit 1
        ) p
        left join investor_workspace.t_account a on (a.acc_bs_fk = p.bs_pk)
        left join investor_workspace.t_currency cr on (cr.cur_pk = a.acc_cur_fk)
        left join investor_workspace.t_stocks_in_briefcases sib on (sib.sib_bs_fk = p.bs_pk)
        left join investor_workspace.t_stocks s on (s.stck_pk = sib.sib_stck_fk)
        left join investor_workspace.t_stocks_prices sp on (sp.sp_stck_fk = s.stck_pk)
        left join investor_workspace.t_currency cur on (cur.cur_pk = sp.sp_cur_fk)
        where sp_time_set > p.bs_date and sp_time_set <![CDATA[<]]> p.bs_date + integer '1'
    </select>

    <select id="selectBIFUByDate" resultMap="BIFUMap">
        select brf_pk, brf_usr_fk, brf_name, brf_desc, bs_pk, bs_brf_fk, bs_fl_fk, bs_date, acc_pk, acc_bs_fk
             , acc_cur_fk, acc_am, cr.cur_pk as a_cur_pk, cr.cur_name as a_cur_name, cr.cur_course as a_cur_course, sib_pk, sib_bs_fk
             , sib_stck_fk, sib_stck_num, sib_type, stck_pk, stck_cmpn_fk, stck_name, stck_ticker, sp_pk, sp_stck_fk, sp_cur_fk
             , sp_time_set, sp_price, cur.cur_pk as cur_pk, cur.cur_name, cur.cur_course as cur_course
        from (
                 select * from investor_workspace.t_briefcases b
                                   left join investor_workspace.t_briefcases_states bs on (bs.bs_brf_fk = b.brf_pk)
                 where b.brf_pk = #{briefcaseId} and bs.bs_date = #{date}
             ) p
                 left join investor_workspace.t_account a on (a.acc_bs_fk = p.bs_pk)
                 left join investor_workspace.t_currency cr on (cr.cur_pk = a.acc_cur_fk)
                 left join investor_workspace.t_stocks_in_briefcases sib on (sib.sib_bs_fk = p.bs_pk)
                 left join investor_workspace.t_stocks s on (s.stck_pk = sib.sib_stck_fk)
                 left join investor_workspace.t_stocks_prices sp on (sp.sp_stck_fk = s.stck_pk)
                 left join investor_workspace.t_currency cur on (cur.cur_pk = sp.sp_cur_fk)
        where sp_time_set > p.bs_date and sp_time_set <![CDATA[<]]> p.bs_date + integer '1'
    </select>

    <select id="selectAllLastBIFU" resultMap="BIFUMap">
        select brf_pk, brf_usr_fk, brf_name, brf_desc, bs_pk, bs_brf_fk, bs_fl_fk, bs_date, acc_pk, acc_bs_fk
             , acc_cur_fk, acc_am, cr.cur_pk as a_cur_pk, cr.cur_name as a_cur_name, cr.cur_course as a_cur_course, sib_pk, sib_bs_fk
             , sib_stck_fk, sib_stck_num, sib_type, stck_pk, stck_cmpn_fk, stck_name, stck_ticker, sp_pk, sp_stck_fk, sp_cur_fk
             , sp_time_set, sp_price, cur.cur_pk as cur_pk, cur.cur_name, cur.cur_course as cur_course
        from (
                 select * from investor_workspace.t_briefcases b
                                   left join investor_workspace.t_briefcases_states bs on (
                                       bs.bs_date = (select max(bs_date) from investor_workspace.t_briefcases_states
                                                            where bs_brf_fk = b.brf_pk)
                                       )
                 where b.brf_usr_fk = #{userId}
             ) p
                 left join investor_workspace.t_account a on (a.acc_bs_fk = p.bs_pk)
                 left join investor_workspace.t_currency cr on (cr.cur_pk = a.acc_cur_fk)
                 left join investor_workspace.t_stocks_in_briefcases sib on (sib.sib_bs_fk = p.bs_pk)
                 left join investor_workspace.t_stocks s on (s.stck_pk = sib.sib_stck_fk)
                 left join investor_workspace.t_stocks_prices sp on (sp.sp_stck_fk = s.stck_pk)
                 left join investor_workspace.t_currency cur on (cur.cur_pk = sp.sp_cur_fk)
        where sp_time_set > p.bs_date and sp_time_set <![CDATA[<]]> p.bs_date + integer '1'
    </select>
</mapper>