<configuration>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${catalina.home}/logs/logback.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{dd.MM.yyyy} %d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="file" />
    </root>
</configuration>