<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="company-mapper">

    <resultMap id="CompanyMap" type="ru.mephi.iw.models.stocks.Company">
        <id column="cmpn_pk" property="id"/>
        <result column="cmpn_name" property="name"/>
    </resultMap>

    <select id="selectCompany" resultMap="CompanyMap">
        select cmpn_pk, cmpn_name from investor_workspace.t_companies where cmpn_pk = #{id}
    </select>

    <select id="selectAllCompanies" resultMap="CompanyMap">
        select cmpn_pk, cmpn_name from investor_workspace.t_companies
    </select>


    <insert id="insertCompany" keyColumn="cmpn_pk" keyProperty="company.id" useGeneratedKeys="true"  >
        insert into investor_workspace.t_companies (cmpn_name)
        values (#{company.name});
        commit;
    </insert>

    <delete id="deleteCompany">
        delete from investor_workspace.t_companies where cmpn_pk = #{id};
        commit;
    </delete>

    <update id="updateCompany">
        update investor_workspace.t_companies set cmpn_name = #{company.name} where cmpn_pk = #{id};
        commit;
    </update>

</mapper>