<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.mephi.iw.dao.mappers.stocks.DoicMapper">
    <resultMap id="DoicMap" type="ru.mephi.iw.models.stocks.DateOfIndexesChanges">
        <id column="doic_pk" property="id"/>
        <result column="doic_indx_fk" property="indexId"/>
        <result column="doic_date_chng" property="dateOfChange"/>
    </resultMap>

    <insert id="insertDoic" useGeneratedKeys="true" keyProperty="id" keyColumn="doic_pk">
        insert into investor_workspace.t_date_of_indexes_changes (doic_indx_fk, doic_date_chng)
        values (#{doic.indexId}, #{doic.dateOfChange});
    </insert>

    <update id="updateDoic">
        update investor_workspace.t_date_of_indexes_changes
        set doic_indx_fk = #{doic.indexId}, doic_date_chng = #{doic.dateOfChange}
        where doic_pk = #{id};
    </update>
</mapper>