<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.mephi.iw.dao.mappers.stocks.DoicMapper">
    <resultMap id="DoicMap" type="ru.mephi.iw.models.stocks.DateOfIndexesChanges">
        <id column="doic_pk" property="id"/>
        <result column="doic_indx_fk" property="indexId"/>
        <result column="doic_date_chng" property="dateOfChange"/>
    </resultMap>
</mapper>