<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.mephi.iw.dao.mappers.stocks.StockMapper">
    <resultMap id="StockMap" type="ru.mephi.iw.models.stocks.Stock">
        <id column="stck_pk" property="id"/>
        <result column="stck_cmpn_fk" property="companyId"/>
        <result column="stck_name" property="name"/>
        <result column="stck_ticker" property="ticker"/>
    </resultMap>

    <select id="selectStockByTicker" resultMap="StockMap">
        select * from investor_workspace.t_stocks where stck_ticker = #{ticker}
    </select>

    <insert id="insertStock" useGeneratedKeys="true" keyProperty="id" keyColumn="stck_pk">
        insert into investor_workspace.t_stocks (stck_cmpn_fk, stck_name, stck_ticker)
        values (#{stock.companyId}, #{stock.name}, #{stock.ticker});
    </insert>
</mapper>